nav {
	text-align: center;
	position: relative;
	margin-block: 15px;
}
nav label p{
	font-weight: bold;
	line-height: 50px;
    padding-inline: 20px;
	border-radius: 8px;
	font-size: 25px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-transform: uppercase;
	color: var(--black);
	background-color: var(--white);
	cursor: pointer;
	margin: 10px;
}
nav p:hover{
    background-color: var(--orange);
}

.d0, .d1, .d2, .d3, .d4{
	display: block !important;
}

input, .main_content {
    display: none;
}

@media (max-width: 600px) {
	nav p {
		font-size: 17px !important; 
		line-height: 30px !important; 
	}
	.select {
		font-size: 17px !important;
		padding: 50px !important;
	}
	nav p:hover{
		background-color: var(--white);
	}
}
.container {
	display: none;
}

.select{
	margin-inline: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 100px;
	font-size: 25px;
	color: white;
	text-align: center;
}