.article {
  display: block;
}

.article .paragraph {
  margin-block: 50px;
}

.article a {
  text-decoration: underline;
}

.article .media_block {
  margin-block: 30px !important;
  text-align: center;
  font-style: italic;
  max-width: -webkit-fill-available;
}

.article .media_block img {
  margin: auto;
  max-width: -webkit-fill-available;
}

.article .media_block video {
  width: 80%;
}

.article .media_block iframe {
  width: 80%;
  height: 500px;
}

.article code {
  overflow-wrap: anywhere;
  display: inline-block;
  background-color: #b3b3b38c;
  border: 3px solid darkgray;
  border-radius: 5px;
  padding-inline: 5px;
  font-weight: bold;
  font-size: calc(0.7*var(--paragraph_font_size));
}

.article .allegati_file, .article .allegati_link {
  padding: 10px;
  text-align: center;
}

.article .allegati_link label {
  padding: 10px;
  display: inline-block;
}

.article .allegati_file .file_box {
  display: inline-flex;
  border: 2px solid black;
  border-radius: calc(0.5*var(--border_radius));
  padding: 15px;
  padding-inline: 10px;
  margin: 10px;
}

.article .allegati_file .file_box img {
  max-height: 50px !important;
}

.article .allegati_file .file_box p {
  align-self: center;
  padding-left: 10px;
}

.article a:hover {
  color: blue;
}

.file_box:hover {
  transform: scale(1.05);
  background-color: gray;
}

.file_box:hover .link_hidden {
  visibility: visible;
}

.article .back_up_button {
  cursor: pointer;
  color: var(--white);
  width: 100%;
  background-color: var(--black);
  border-radius: 10px;
  line-height: 35px;
  margin-top: 20px;
  text-align: center;
  font-size: initial;
}

@media (max-width: 1030px) {
  .title, h2 {
    font-size: var(--paragraph_font_size) !important;
  }
  .article .allegati_file .file_box img {
    max-height: 30px !important;
  }
  .article .media_block video, .article .media_block iframe {
    width: 100%;
  }
  .article .media_block iframe {
    height: 350px;
  }
}