@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Permanent+Marker&display=swap');

a {
	color: var(--black);
	text-decoration: none;
}

body {
	font-family: 'Bungee Shade', cursive;
	line-height: 1.6;
	margin: 0;
	background-color: var(--black);
	display: flex;
	flex-direction: column;
}