/*Uso id (#) per la home, class (.) per le altre le altre pagine*/

/*Other pages*/
.slogan {
	margin: 27px auto 0px auto;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--header_height);
	color: var(--orange);
	z-index: 1;
}

@media (max-width: 1200px) {
	.slogan {
		font-size: 60px;
	}
}

@media (max-width: 570px) {
	.slogan {
		font-size: 35px;
	}
}


/*Home*/
#slogan {
	padding-bottom: 50px;
	width: 100%;
	min-height: calc(100vh - var(--header_height));
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--max_font_size);
	color: var(--orange);
	z-index: 1;
}

@media (max-width: 1200px) {
	#slogan {
		font-size: 90px;
	}
}

@media (max-width: 570px) {
	#slogan {
		font-size: 35px;
	}
}