.container {
  display: flex;
}

.container .paragraph {
  margin-top: 10px;
}

.container .separator {
  min-width: var(--padding_articles);
  min-height: 20px;
}

.container img {
  display: flex;
  margin: auto;
  max-height: 300px;
  transition: all .2s ease-in-out;
  max-width: -webkit-fill-available;
}

.container:hover {
  transform: scale(1.05);
  background-color: gray;
}

.container:hover .link_hidden {
  visibility: visible;
}

.container:hover img {
  transform: scale(1.1);
}

@media (max-width: 1030px) {
  .container {
    display: block;
  }
  .container a {
    font-size: calc(1.5*var(--paragraph_font_size)) !important;
    padding-inline: var(--padding_articles) !important;
  }
  .container .title {
    font-size: var(--paragraph_font_size) !important;
    text-align: center;
  }
}