.embedded_img {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 5;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
  color: white;
  font-size: var(--paragraph_font_size);
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

.embedded_img img {
  z-index: 7;
  margin: auto;
  display: block;
  width: 90%;
}

.files_element:hover .link_hidden {
  visibility: visible;
}

.allegati_link label {
  padding: 10px;
  display: inline-block;
}

.allegati_link {
  text-align: center;
}

code {
  font-weight: bold;
}

.container a {
  text-decoration: underline;
}

.container a:hover {
  color: blue;
}

.container {
  display: block;
  text-align: center;
}

.container .files {
  padding: 10px;
  text-align: center;
}

.container .files .files_element {
  display: inline-flex;
  border: 2px solid black;
  border-radius: calc(0.5*var(--border_radius));
  padding: 15px;
  padding-inline: 10px;
  margin: 10px;
}

.container .files .files_element img {
  max-height: 50px !important;
}

.container .files .files_element p {
  text-align: center;
  align-self: center;
}

.files_element:hover {
  transform: scale(1.05);
  background-color: gray;
}

.container .paragraph {
  margin-block: 50px;
}

.container .separator {
  min-width: var(--padding_articles);
  min-height: 20px;
}

.immagine {
  margin-block: 30px !important;
  text-align: center;
  font-style: italic;
}

math {
  font-family: math;
  font-weight: bold;
  font-size: calc(1.1*var(--paragraph_font_size));
}

.container img {
  display: flex;
  margin: auto;
  /*max-height: 300px;*/
  transition: all .2s ease-in-out;
  max-width: -webkit-fill-available;
}

@media (max-width: 1030px) {
  .container .title {
    font-size: var(--paragraph_font_size) !important;
    text-align: center;
  }
  .container h2 {
    font-size: var(--paragraph_font_size) !important;
  }
}