@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.container {
    position: relative;
    width: 60%;
    color: var(--black);
    background-color: var(--white);
    border: 1px solid #a2a2a2;
    padding: var(--padding_articles);
    margin-inline: auto;
    margin-block: 25px;
    transition: all .2s ease-in-out;
    -webkit-border-radius: var(--border_radius);
    -moz-border-radius: var(--border_radius);
    border-radius: var(--border_radius);
    text-align: center;
}

.link_hidden {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--orange);
    z-index: 1;
    font-size: calc(2.5*var(--paragraph_font_size));
    height: 100%;
    width: 100%;
    top: 0px;
    right: 0px;
    visibility: hidden;
}

/*article's title*/

.container .title {
    font-size: calc(2*var(--paragraph_font_size));
}

.container .paragraph {
    font-size: var(--paragraph_font_size);
    font-family: 'Roboto Condensed', sans-serif;
    text-align: justify;
}

/*paragraph title*/

.container h2 {
    border-bottom: 1px solid gray;
    text-align: left !important;
    font-size: calc(1.5*var(--paragraph_font_size));
}

@media (max-width: 1030px) {
    :root {
        --padding_articles: 40px !important;
    }
    .container .title {
        font-size: var(--paragraph_font_size) !important;
        text-align: center;
    }
    .container .paragraph {
        font-size: calc(0.75*var(--paragraph_font_size));
    }
}

@media (max-width: 1200px) {
    .container {
        width: 70%;
    }
}

@media (max-width: 750px) {
    .container {
        width: 93%;
    }
}