* {
	box-sizing: border-box;
}

:root {
	--black: black;
	--orange: orange;
	--white: white;
	--gray: gray;
	--header_height: 80px;
	--max_font_size: 120px;
	--header_font_size: 28px;
	--description_font_size: 20px;
	--padding_articles: 64px;
}